#########################
##    CAN BUS SETUP    ##
#########################
[mcu]
canbus_uuid: e9f728d0e4b9
canbus_interface: can0

[mcu EBBCan]
canbus_uuid: 57cc2b4bd2da
canbus_interface: can0

##############################
##    PRINTER KINEMATICS    ##
##############################
[printer]
kinematics: corexy
max_velocity: 300
max_accel: 11000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

###############################
##    TEMPERATURE SENSORS    ##
###############################
[temperature_sensor M8P]
sensor_type: temperature_mcu

[temperature_sensor CM4]
sensor_type: temperature_host

[temperature_sensor chamber]
sensor_type: Generic 3950
pin: PB1

################################
##    X/Y STEPPER SETTINGS    ##
################################
#-----X Stepper on MOTOR1 (B Motor)-----#
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 32        #Default 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: EBBCan:gpio24
position_endstop: 300
position_min: 0
position_max: 300
homing_speed: 75        #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC13
interpolate: True
run_current: 0.8          #Max is 1.2
sense_resistor: 0.110
stealthchop_threshold: 0        #Set to 999999 to turn on stealthchop (silent mode)

#-----Y Stepper on MOTOR2 (A Motor)-----#
[stepper y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 32        #Default 16
rotation_distance: 40
full_steps_per_rotation: 200  
endstop_pin: ^PF3
position_min: 0
position_max: 300
position_endstop: 300
homing_speed: 75        #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PE3
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##############################
##    Z STEPPER SETTINGS    ##
##############################
#-----Z0 Stepper, Front Left on MOTOR3_A-----#
[stepper z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32        #Default 16
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_min: -5
position_max: 260
homing_speed: 15
second_homing_speed: 8
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PB9
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#-----Z1 Stepper, Rear Left on MOTOR5-----#
[stepper_z1]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32        #Default 16
full_steps_per_rotation: 200

[tmc2209 stepper_z1]
uart_pin: PG14
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#-----Z2 Stepper, Rear RIght on MOTOR6----#
[stepper_z2]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32        #Default 16
full_steps_per_rotation: 200

[tmc2209 stepper_z2]
uart_pin: PG10
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#-----Z3 Stepper, Front Right on MOTOR7-----#
[stepper_z3]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD6
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32        #Default 16
full_steps_per_rotation: 200

[tmc2209 stepper_z3]
uart_pin: PD5
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##################
#    EXTRUDER    #
##################
#-----E0, EBBCan, on MOTOR8-----#
[extruder]
step_pin: EBBCan:gpio18
dir_pin: EBBCan:gpio19
enable_pin: !EBBCan:gpio17
#For Galileo#
#rotation_distance: 47.088
#gear_ratio: 9:1
#microsteps: 16
#full_steps_per_rotation: 200
rotation_distance: 22.6789511
gear_ratio: 50:10
microsteps: 32        #Default 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 110
max_extrude_cross_section: 5
heater_pin: EBBCan:gpio7
sensor_type: MAX31865
sensor_pin: EBBCan:gpio9
spi_software_sclk_pin: EBBCan:gpio10
spi_software_mosi_pin: EBBCan:gpio8
spi_software_miso_pin: EBBCan:gpio11
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2
rtd_use_50Hz_filter: True
min_temp: 10      #was 0, 
max_temp: 280
min_extrude_temp: 150    #he minimum temperature at which extruder move commands may be #issued. The default is 170 Celsius.
pressure_advance: 0.0475              #Can I customize?
pressure_advance_smooth_time: 0.040   #??

[tmc2209 extruder]
uart_pin: EBBCan:gpio20
interpolate: true ##false
run_current: 0.45        #Default 0.6
sense_resistor: 0.110
stealthchop_threshold: 0  

[filament_switch_sensor runout_sensor]
switch_pin: EBBCan:gpio21
pause_on_runout: True
#runout_gcode:
#insert_gcode:
#event_delay:
#pause_delay:

###################
##    HEATBED    ##
###################
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PB1
max_power: 0.65
min_temp: 0
max_temp: 110

#################
##    PROBE    ##
#################
pin: ^EBBCan:gpio22
x_offset: 0
y_offset: 0
#z_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.005
samples_tolerance_retries: 3

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

##############################
##    STEALTHBURNER FANS    ##
##############################
[fan]                       #Print Cooling Fan
pin: EBBCan:gpio13          #Connected on EBBCan FAN2
kick_start_time: 0.100      #Depending on your fan, you may need to increase this value
cycle_time: 0.010           #Can change if fan is not able to slow down effectively (increase)
#off_below: 0.05             #Default 0.1

[heater_fan hotend_fan]     #Hotend Fan
pin: EBBCan:gpio14          #Connected on EBBCan FAN1
max_power: 1.0
kick_start_time: 0.100      #was 0.5
heater: extruder
heater_temp: 50.0
#fan_speed: 1.0             #Reduce for backflow issues

###############################
##    ELECTRONICS BAY FANS   ##
###############################
[controller_fan controller_fan]
pin: PF9                #MCU side
#kick_start_time: 0.5
#fan_speed: 1.0
#idle_timeout: 60
kick_start_time: 0.5
max_speed: 1.0
target_temp: 40
min_temp: 10
max_temp: 75
control: watermark
sensor_type: temperature_host

[temperature_fan rpi_fan]
pin: PF6              #CM4 side
kick_start_time: 0.5
max_speed: 1.0
target_temp: 40
min_temp: 10
max_temp: 75
control: watermark
sensor_type: temperature_SoC

##########################
##    EXHAUST FILTER    ##
##########################
[heater_fan exhaust_filter]
pin: PF8
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 35
fan_speed: 1.0
heater_temp: 65                    #Decreases fan speed when bed temp reaches 65
fan_speed: 0.75
heater_temp: 80                    #Decreases fan speed when bed temp reaches 80
fan_speed: 0.50

############################
##    Nevermore FILTER    ##
############################
[heater_fan filter]        #Nevermore filter/fan
pin: PF7                           #Connected on M8P FAN0
kick_start_time: 0.250
heater: heater_bed
heater_temp: 45.0                  #Turns on when heater bed is set to 45c or higher. Was 45 at default
fan_speed: 0.30                    #Speed set to 30%
heater_temp: 66.0                  #Increase fan speed when bed temp reaches 66c
fan_speed: 1.0  

#####################
##    CASELIGHT    ##
#####################
[output_pin caselight]        #Chamber Lighting - HE2 Connector (Optional)
pin: PA3
pwm:true
shutdown_value: 0
value:1
cycle_time: 0.01

##############################
##    STEALTHBURNER LEDS    ##
##############################
[include stealthburner_leds.cfg]

##########################
##    ACCELEROMETERS    ##
##########################
[adxl345]
cs_pin: EBBCan:gpio1
spi_software_sclk_pin: EBBCan:gpio2
spi_software_mosi_pin: EBBCan:gpio0
spi_software_miso_pin: EBBCan:gpio3
axes_map: z,-y,x

[resonance_tester]
probe_points: 150, 150, 20
accel_chip: adxl345
max_smoothing: 0.059

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 58.8
shaper_type_y = zv
shaper_freq_y = 54.2

####################
##    BED MESH    ##
####################
[bed_mesh]
speed: 350
horizontal_move_z: 20
mesh_min: 25, 25
mesh_max: 275, 275
probe_count: 9, 9
fade_start: 0.6
fade_end: 10.0
algorithm: bicubic
zero_reference_position: 150, 150

######################
##    AUTO SAVED    ##
######################
#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = -1.170
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 42.037
#*# pid_ki = 1.540
#*# pid_kd = 286.902
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 18.875
#*# pid_ki = 1.383
#*# pid_kd = 64.409
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 58.8
#*# shaper_type_y = zv
#*# shaper_freq_y = 54.2
